body{
	background:#f4f4f4!important;
	font-family: Arial,sans-serif;
}
.blinking{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: #f00;    }
    49%{    color: #f00; }
    60%{    color: #00f; }
    99%{    color:#00f;  }
    100%{   color: #000;    }
}
.basic-info {
  float: left;
  padding: 10px;
  /*height: 600px; */
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 10px;
 
  outline: 5px solid transparent;
}
.basic-info:hover{
	/*box-shadow: 3px 3px 3px 3px #ccc;*/
	background-color: #FBE2A9;
  border: 5px solid #FFD18F;
	outline: 5px solid #9E8463;
  outline-offset: 5px;
}

.left {
  width: 22%;
  margin:1%;
}

.right {
  width: 72%;
  margin: 1%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.basic-info>.img-name>img{
	width: 45%;
    margin-top: 2%;
    border: 2px dotted #041adf;
    border-radius: 20px;
    transition: transform .2s;
}
.basic-info>.img-name>img:hover{
	transform: scale(1.15);
}
.basic-info h5{
	float:left;
	text-align: justify;
}
.basic-info p{
	text-align: justify;
	font-size:14px;
	
}
.basic-info>ul>li{
	text-align: left;
}
hr{
	border-top:2px dotted #f00 !important;
}
.basic-info .other-info a:hover{
	color: #f00;
	text-decoration: none;
	font-weight: bold;
}
.basic-info>.table-bordered td, .table-bordered th{
	border: 1px solid #6c4c2c!important;
}
/*mobile view styles*/
@media only screen and (min-width:320px) and (max-width:480px){
	#info {
		display: inline-block;
		margin: 10%;
	}
	.basic-info{
		width: 100%;
		/*margin: 5%;*/
	}
	
}
/*tab view*/
@media only screen and (min-width:481px) and (max-width:768px){
	#info {
		display: inline-block;
		width: 98%;
		margin: 1%;
	}
	.basic-info{
		width: 100%;
		/*margin: 5%;*/
	}
	.img-name{
		float: left;
		width: 50%;
	}
	.other-info{
		float: right;
	}
	.basic-info>.img-name{
		text-align: left;
	}
}